<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../../../static/css/custom.css">
    <title th:text="#{'category-label.' + ${category}}">Specific Category</title>
</head>
<body>
<header th:replace="~{problems/problems-index :: problems-header}"></header>
<main>
    <p>
        <a th:href="@{/index}" th:text="#{index-label}">Index</a>&nbsp;&#10219&nbsp;
        <a th:href="@{/problems}" th:text="#{problems-label}">Problems</a>&nbsp;&#10219&nbsp;
        <a th:href="@{/problems/categories}"
           th:text="#{categories-label}">Categories</a>&nbsp;&#10219&nbsp;
        <span th:text="#{'category-label.' + ${category}}">Specific Category</span>
    </p>
    <h2 th:text="#{'category-label.' + ${category}}">Specific Category</h2>
    <p>
        <a th:href="@{/problems/categories/{c}/compare-levels(c=${category})}"
           th:text="#{compare-difficulty-levels}"
           style="font-size: x-large">
            Compare Difficulty Levels
        </a>
    </p>
    <table>
        <thead>
        <tr>
            <th th:text="#{difficulty-level}">Difficulty Level</th>
            <th th:text="#{number-of-problems}">Number of Problems</th>
            <th th:text="#{totals-label}">Totals</th>
        </tr>
        </thead>
        <tbody th:with="numbers = ${#numbers.sequence(1, 10, 1)}">
            <tr th:each="level : ${levels}">
                <td th:text="#{'difficulty-label.' + ${level}}">Level</td>
                <td>
                    <th:block th:each="number: ${numbers}">
                        <a th:href="@{/problems/generator(category=${category}, level=${level}, number=${number})}"
                           th:text="${number}">Number</a>&nbsp;
                    </th:block>
                </td>
                <td th:text="${countsByLevels.getCountByLevel(level)}">Level Total</td>
            </tr>
        </tbody>
    </table>
    <p>
        <label>
            <th:block th:text="#{total-label}">Total Problems</th:block>:
            <span th:text="${countsByLevels.total}" class="value">Total Problems</span>
        </label>
    </p>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>