<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../../../static/css/custom.css">
    <title>Generated Problems</title>
</head>
<body>
<header th:replace="problems/problems-index :: problems-header"></header>
<main>
    <h2>Generated Problems</h2>
</main>
</body>
</html>