<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../../static/css/custom.css">
    <title>General Error</title>
</head>
<header th:replace="~{home/home-index :: home-header}">Some Header</header>
<main>
    <p>
        <a th:href="@{/index}" th:text="#{index-label}">Index</a>&nbsp;&#10219&nbsp;
        Error
    </p>
  <h2>Error</h2>
  <!--/*@thymesVar id="message" type="String"*/-->
  <p class="error-message" th:text="${message}">Message</p>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</html>