header nav a{
    border-bottom-width: medium;
    border-right-width: medium;
}

header nav a.selected{
    background-color: honeydew;
}

body>header{
    position: relative;
    display: block;
    padding: 0;
}

body>footer{
    padding-top: 0;
}

label{
    font-size: x-large;
    width: fit-content;
}

footer{
    font-style: italic;
    width: 100%;
}

li{
    font-size: x-large;
}

.value{
    font-style: italic;
    margin-left: 1rem;
}

.error-message{
    color: crimson;
    font-style: italic;
    font-size: x-large;
}

/* Language Selection Bar */
.lang-link {
    text-decoration: none;
    margin: 0 5px;
    padding: 2px 5px;
}

.lang-link.active-lang {
    font-weight: bold;
    color: black;
    border-bottom: 2px solid blue; /* Visual indicator */
    pointer-events: none; /* Disable clicking the current language */
}

div.row-in-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.spacer-in-header{
    flex: 1;
}

div.language-bar-container{
    flex: 1; height: fit-content;
}

div.language-bar{
    width: fit-content;
    justify-self: right;
    margin: 15px;
    font-size: small;
    font-weight: bold;
    padding: 5px;
    border-color: darkgray;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}



