div.table-and-form-container {
    margin-left: 3em;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.table-and-form-container>table {
    margin-top: 0;
}