<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../../static/css/custom.css">
    <title>Quiz Index</title>
</head>
<body>
<header>
    <h1>Problem Generator</h1>
</header>
<main>
    <h2>Quiz Index</h2>
</main>
<footer th:replace="home/home-index :: course-footer"></footer>
</body>
</html>