<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<header>
    <h1>Problem Generator</h1>
    <h2>Problem Categories</h2>
</header>
<main>
    <h3>Select Problem Category</h3>
    <ol>
        <li><a th:href="@{/problem-list/addition}"
               href="difficulties.html">Addition Problems</a></li>
        <li><a th:href="@{/problem-list/subtraction}"
               href="difficulties.html">Subtraction Problems</a></li>
        <li><a th:href="@{/problem-list/multiplication}"
               href="difficulties.html">Multiplication Problems</a></li>
        <li><a th:href="@{/problem-list/division}"
               href="difficulties.html">Division Problems</a></li>
    </ol>
</main>
</body>
</html>