<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Difficulties</title>
</head>
<body>
<header>
    <h1>Problem Generator</h1>
    <nav>
        <a th:href="@{/}" href="home.html">Home</a>
        <a th:href="@{/problem-list/addition}" href="difficulties.html">Addition</a>
        <a th:href="@{/problem-list/subtraction}" href="difficulties.html">Subtraction</a>
        <a th:href="@{/problem-list/multiplication}" href="difficulties.html">Multiplication</a>
        <a th:href="@{/problem-list/division}" href="difficulties.html">Division</a>
        <a th:href="@{/about}" href="about.html">About</a>
    </nav>
</header>
<main>
    <h2><span th:text="${#strings.capitalize(category)}">Category</span> Difficulty Levels</h2>
    <h3>Select Number of Problems or Default</h3>
    <table>
        <thead>
            <tr>
                <th>Level</th>
                <th>Number of Problems</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="level : ${levels}">
                <th>
                    <a th:href="@{/problem-list/{c}/{l}(c=${category}, l=${level})}"
                       th:text="${#strings.capitalize(level)}"
                       href="problems.html">Level</a>
                </th>
                <td>
                    <a th:href="@{/problem-list/{c}/{l}(c=${category}, l=${level}, number=5)}"
                       href="problems.html">5</a>,&nbsp;
                    <a th:href="@{/problem-list/{c}/{l}(c=${category}, l=${level}, number=10)}"
                       href="problems.html">10</a>,&nbsp;
                    <a th:href="@{/problem-list/{c}/{l}(c=${category}, l=${level}, number=15)}"
                       href="problems.html">15</a>,&nbsp;or&nbsp;
                    <a th:href="@{/problem-list/{c}/{l}(c=${category}, l=${level}, number=20)}"
                       href="problems.html">20</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>

</body>
</html>