<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../static/css/header.css">
    <title th:text="#{problems-label}">Problems Index</title>
</head>
<body>
<header th:fragment="problems-header">
    <h1 th:text="#{app-name}">Program Name</h1>
    <div class="row-in-header">
        <div class="spacer-in-header"></div>
        <nav style="margin: 0">
            <a th:href="@{/problems/form}"
               th:text="#{request-form}">Request Form</a>
            <a th:each="category : ${categories}"
               th:href="@{/problems/categories/{c}(c=${category})}"
               th:text="#{'category-label.' + ${category}}">Category</a>
        </nav>
        <div th:replace="~{home/home-index :: language-bar}">Language Bar</div>
    </div>
</header>
<main>
    <p>
        <a th:href="@{/index}" th:text="#{index-label}">Index</a>&nbsp;&#10219&nbsp;
        <th:block th:text="#{problems-label}">Problems</th:block>
    </p>
    <h2 th:text="#{problems-label}">Problems</h2>
    <ul>
        <li>
            <a th:href="@{/problems/categories}"
               th:text="#{categories-label}">Categories</a>
        </li>
        <li>
            <a th:href="@{/problems/form}"
               th:text="#{request-form}">Request Form</a>
        </li>
    </ul>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>