<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../static/css/header.css">
    <title>Про програму</title>
</head>
<body>
<header th:replace="~{home/home-index :: home-header}">Some Header</header>
<main>
    <p>
        <a th:href="@{/index}">Індекс</a>&nbsp;&#10219&nbsp;
        Про програму
    </p>
    <h2>Про програму</h2>
    <p>Програма була розроблена як приклад для курсу програмування.</p>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>